<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{user.name}}</h1>
    </div>
    <div class="col-md-4">
      <img class="img-responsive center-block" src="{{user.avatar}}" style="width: 250px;margin-bottom: 25px;">
      <br>
      <div class="edit-user-input">
        <ul class="list-unstyled">
          <li><strong>Role:</strong> {{user.role}}</li>
          <li><strong>ShopId:</strong> {{user.ShopId}}</li>
        </ul>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <a href="javascript:history.back()" class="edit-user-input">回上一頁</a>
</div>