{{#if error_messages}}
<div class="feedback" role="alert">
  {{error_messages}}
</div>
{{/if}}
{{#if top_messages}}
<div class="top-messages" role="alert">
  {{top_messages}}
</div>
{{/if}}
{{#if success_messages}}
<div class="feedback" role="alert">
  {{success_messages}}
</div>
{{/if}}