<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <div class="container">
      <br />
      <div class="col">
        <h1>
          MYPROTEIN<small class="text-muted"> 為了你的鍛鍊而存在。</small>
        </h1>
      </div>
      <div class="col">
        <img
          src="https://picsum.photos/930/300"
          class="img-fluid"
          alt="Responsive image"
        />
      </div>
      <br />
      <div class="col"><h4>高蛋白粉大降價</h3></div>
      <div class="col">
        不要錯過最新的優惠！現在... Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Quidem consequuntur eius quo, soluta consectetur
        quaerat impedit error consequatur excepturi rem fugiat provident,
        magnam, dicta molestias amet voluptates harum ducimus placeat. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Voluptate, fuga
        fugiat earum molestias pariatur corporis rem. Iure qui laboriosam
        molestias, id libero dolores ex repellendus adipisci nemo incidunt ab
        unde!
      </div>
      <br />
      <div class="col">MYPROTEIN</div>
      <div class="col">地址 台北市中山區林森北路 107 巷 8 號</div>
      <div class="col">電話 02 2363 8009</div>
      <div class="col">服務信箱 shop2@example.com</div>
      <br />
      <div class="col" style="font-size: 13px; color:red">這是由 WAROEMN 系統發送的訊息，並非官方電子信箱，請勿直接回覆，謝謝。</div>
      <br />
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
