<div class="home-page">
  <div class="Title" style="padding-top:30px">所有會員</div>
  <div class="results">
    <form action="/" method="GET">
      <input type="text" name="phone_nr" placeholder="請輸入電話號碼或email">
      <button type="submit">查詢</button>
      <button type="button">清除</button>
    </form>
    <table>
      <tr>
        <th scope="col">姓名</th>
        <th scope="col">Email</th>
        <th scope="col">電話號碼</th>
      </tr>
      {{#each customers}}
      <tr>
        <td><a href="/customers/{{this.id}}">{{this.name}}</a></td>
        <td>{{this.email}}</td>
        <td>{{this.phoneNr}}</td>
      </tr>
      {{/each}}
    </table>
    <form action="/customers" method="POST" style="display: none;">
      <input type="hidden" name="phone_nr" value="0912-345-678">
      <span>0912-345-678 尚未加入會員</span><button type="submit">立即加入</button>
    </form>
  </div>
</div>
<script src="/javascripts/animation.js"></script>
<script src="/javascripts/showOption.js"></script>