<h1>會員資料</h1>
<ul>
	<li>{{customer.id}}</li>
	<li>{{customer.email}}</li>
	<li>{{customer.phoneNr}}</li>
	<li>{{customer.name}}</li>
</ul>
<form action="/">
  <input type="checkbox" name="" value=""> 願意收到電子報？
  <!-- <input type="submit" value="Submit"> -->
</form>
<a href="/customers/customers_id/record">新增交易</a>
<a href="/customers/customers_id/records">查看紀錄</a>
<a href="/customers/customers_id/edit">編輯資料</a>