<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

<div>
	<input type="hidden" name="shopId" id="shopId" value={{shopId}}>
	<div class="row-of-charts">
		<div class="chart-in-left">
			<div id="reportrange" class="reportrange">
			    <i class="fa fa-calendar"></i>&nbsp;
			    <span></span>
			    <i class="fa fa-caret-down"></i>
			</div>
			<div id="container" class="chart-container"></div>
		</div>
		<div class="chart-in-right">
			<div id="reportrange2" class="reportrange">
			    <i class="fa fa-calendar"></i>&nbsp;
			    <span></span>
			    <i class="fa fa-caret-down"></i>
			</div>
			<div id="container2" class="chart-container"></div>
		</div>
	</div>
	<div class="row-of-charts">
		<div class="chart-in-left">
			<div id="reportrange3" class="reportrange">
			    <i class="fa fa-calendar"></i>&nbsp;
			    <span></span>
			    <i class="fa fa-caret-down"></i>
			</div>
			<div id="container3" class="chart-container"></div>
		</div>
	</div>
	<div class="row-of-charts">
		<div id="reportrange4" class="reportrange">
		  <i class="fa fa-calendar"></i>&nbsp;
		  <span></span>
		  <i class="fa fa-caret-down"></i>
		</div>
		<div id="container4" class=""></div>
	</div>
	<script src="/javascripts/drawCharts.js"></script>
</div>