{{> messages}}
<div class="container">
  <div class="search-field">
    <div class="Title">新增會員</div>
    <form action="/customers/create" method="POST">
      <div class="nr_input">
        <i class="fas fa-search"></i><input type="number" name="phone_nr" id="phone_nr" placeholder="請輸入電話號碼">
      </div>
      <button type="submit">確認</button>
    </form>
  </div>
  <input type="hidden" id="show-noti" value={{flag}}>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
  <script src="/javascripts/showNoti.js"></script>
</div>