<div class="container">
  <div class="Title">庫存管理</div>
  <ul class="manage-action">
    <li class="upload-products">
      <form action="/inventory" id="upload-form" method="POST" enctype="multipart/form-data">
        <label>上傳檔案
          <input id="upload_file" name="products" type="file">
        </label>
        <button type="submit">確認</button>
      </form>
    </li>
    <li class="download-products">下載檔案</li>
  </ul>
  <table>
    <tr>
      <th scope="col">編號</th>
      <th scope="col">名稱</th>
      <th scope="col">單價</th>
      <th scope="col">庫存數量</th>
    </tr>
    <tr>
      <td scope="col">3067812</td>
      <td scope="col">絕對完美極緻隔離霜</td>
      <td scope="col">3600</td>
      <td scope="col">26</td>
    </tr>
    {{#each products}}
    <tr>
      <td>{{this.id}}</a></td>
      <td>{{this.name}}</td>
      <td>{{this.salePrice}}</td>
      <td>{{this.inventory}}</td>
    </tr>
    {{/each}}
  </table>
</div>