<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link rel="stylesheet" href="/stylesheets/signup.css">
  <link rel="stylesheet" href="/stylesheets/home.css">
  <link rel="stylesheet" href="/stylesheets/animation.css">
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <link rel="stylesheet" href="/stylesheets/admin-customers.css">
  <link rel="stylesheet" href="/stylesheets/admin-products.css">
  <link rel="stylesheet" href="/stylesheets/admin-sales.css">
  <link rel="stylesheet" href="/stylesheets/customer-trade.css">
  <link rel="stylesheet" href="/stylesheets/single-customer.css">
  <link rel="stylesheet" href="/stylesheets/customer-record.css">
  <script src="https://kit.fontawesome.com/2e90554d29.js"></script>
  <title>{{title}} | Waromen</title>
</head>

<body>
  {{{body}}}
</body>

</html>