<div class="login-page">
  <header>
    <a href="/login">waromen</a>
  </header>
  <main>
    {{#if error_messages}}
    <div class="feedback" role="alert">
      {{error_messages}}
    </div>
    {{/if}}
    {{#if success_messages}}
    <div class="feedback" role="alert">
      {{success_messages}}
    </div>
    {{/if}}
    <form action="/login" method="POST">

      <div class="form-item">
        <input type="text" name="account" placeholder="帳號" required autofocus>
      </div>
      <div class="form-item">
        <input type="password" name="password" placeholder="密碼" required>
        <a href="" class="forget">忘記密碼？</a>
      </div>
      <div style="text-align:center">
        <button type="submit" class="Button1">登入</button>
      </div>
      <div class="line"></div>
      <div style="display: flex;
    justify-content: center;">
        <a href="/signup" class="Button1">開啟服務</a>
      </div>
    </form>
  </main>
  <footer>
    <ul>
      <li>版權所有、轉載必究｜©Waromen</li>
      <li><a href="">使用說明</a></li>
      <li><a href="">服務信箱</a></li>
    </ul>
  </footer>
</div>