<div class="container">

  <div class="Title">廣告行銷</div>
  {{msg}}
  <div class="choose-bar">
    <button data-choose="filter">選擇目標客戶</button>
    <button data-choose="email">電子報內容</button>
  </div>
  <form>
    <div>
      <div class="filter-section">
        <form action="">
          <div>

            <div class="filter-select">
              <ul>
                <li>
                  <select name="tag" id="" data-filter="filter">
                    <option value="all">全部標籤</option>
                  </select></li>
                <li>
                  <select name="birthday" id="" data-filter="filter">
                    <option value="all">不限生日</option>
                    <option value="1">一月 </option>
                    <option value="2">二月</option>
                    <option value="3">三月</option>
                    <option value="4">四月</option>
                    <option value="5">五月</option>
                    <option value="6">六月</option>
                    <option value="7">七月</option>
                    <option value="8">八月</option>
                    <option value="9">九月</option>
                    <option value="10">十月</option>
                    <option value="11">十一月</option>
                    <option value="12">十二月</option>
                  </select>
                </li>
                <li>
                  <select name="price" id="" data-filter="filter">
                    <option value="all">不限消費金額</option>
                  </select>
                </li>
                <li>
                  <select name="gender" id="" data-filter="filter">
                    <option value="all">不限性別</option>
                    <option value="male">男性</option>
                    <option value="female">女性</option>
                  </select>
                </li>
              </ul>
            </div>
          </div>
          <div class="filter-list-section">
            <table class="filter-list">
              <tr>
                <th>Name</th>
                <th>E-mail</th>
                <th>Phone</th>
              </tr>
            </table>

          </div>


        </form>

      </div>
      <div class="mail-section">


        <div class="title-section">
          <div class="mail-template">
            <span>樣板：</span>
            <select name="template" id="">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <div class="mail-title">
            <input type="text" name="subject" placeholder="郵件標題" class="mail-input">
          </div>
        </div>

        <div class="content-section">
          <div class="mail-blank-section"></div>
          <textarea name="message" rows="10" placeholder="郵件內容" class="mail-input"></textarea>
        </div>

        <div class="image-content-section">
          <div class="upload-toggle">
            <input type="file" name="info" onchange="test()">
          </div>
          <div class="image-show">

          </div>
        </div>

        <div class="marketing-next-bar">
          <div class="marketing-next-select">
            <button type="submit">儲存此樣板</button>
          </div>

          <div class="marketing-next-select">
            <span id="next" data-open="open">下一步</span>
          </div>
        </div>
      </div>


      <div class="modal-next">
        <div class="modal-content">
          <span class="close">&times;</span>
          <form method="POST" action="/marketing">
            <div class="modal-data"></div>
            <button type="submit">確認送出</button>
          </form>
        </div>
      </div>
    </div>
  </form>
</div>

<script src="/javascripts/marketingFilter.js"></script>
<script src="/javascripts/mailModal.js"></script>