<h1 style="text-align: center; margin-top: 20px;">404 抱歉，這個頁面不存在</h1>

<div style="text-align: center; font-size: 20px; margin-top: 20px;">
    <a href="/" style="border-right: 2px solid; padding-right: 10px;">Home</a>
    <a href="javascript:history.back()" style="padding-left: 10px;">Back</a>
</div