<div class="container">
  {{> messages}}
  <form action="/privacy/{{user.id}}/edit?_method=PUT" method="POST">
    <div class="privacy">
      <div class="Title">{{title}}</div>
      <ul class="privacy-detail">
        <li>姓名：{{user.name}}</li>

        <li>舊密碼：<input type="password" name="oldPassword" class="edit-privacy-input"></li>
        <li>新密碼：<input type="password" name="newPassword" class="edit-privacy-input"></li>
        <li>確認新密碼：<input type="password" name="confirmPassword" class="edit-privacy-input"></li>

      </ul>
      <div class="privacy-bar">
        <div class="privacy-link">
          <button type="submit" class="privacy-button">確定修改</button>
        </div>
        <div class="privacy-link">
          <a href="/">返回</a>
        </div>
      </div>
    </div>
  </form>
</div>