<div class="Layout1">
  <header>
    <a href="/login">waromen</a>
  </header>
  <main>
    <form action="/signup" method="POST">
      <h1 class="Title2">開啟服務</h1>
      {{> messages}}
      <div class="form-item">
        <input type="text" name="name" placeholder="商店名稱" value="{{name}}" required autofocus>
      </div>
      <div class="form-item">
        <input type="email" name="email" placeholder="電子郵件" value="{{email}}" required>
      </div>
      <div class="form-item">
        <input type="password" name="password" placeholder="密碼" value="{{password}}" required>
      </div>
      <div class="form-item">
        <input type="password" name="password2" placeholder="確認密碼" value="{{password2}}" required>
      </div>
      <div style="text-align:center">
        <a href="/login" class="Button3">返回</a>
        <button style="margin-left: 30px;" type="submit" class="Button1">完成</button>
      </div>
    </form>
  </main>
  <footer>
    <ul>
      <li>版權所有、轉載必究｜©Waromen</li>
      <li><a href="">使用說明</a></li>
      <li><a href="">服務信箱</a></li>
    </ul>
  </footer>
</div>