<div class="signup-page">
  <header>
    <a href="/login">waromen</a>
  </header>
  <main>
    <form action="/signup" method="POST">
      {{> messages}}
      <div class="form-item">
        <input type="text" name="name" placeholder="商店名稱" required autofocus>
      </div>
      <div class="form-item">
        <input type="email" name="email" placeholder="電子郵件" required>
      </div>
      <div class="form-item">
        <input type="password" name="password" placeholder="密碼" required>
      </div>
      <div class="form-item">
        <input type="password" name="password2" placeholder="確認密碼" required>
      </div>
      <div style="text-align:center">
        <button type="submit" class="Button1">完成</button>
      </div>
    </form>
  </main>
  <footer>
    <ul>
      <li>版權所有、轉載必究｜©Waromen</li>
      <li><a href="">使用說明</a></li>
      <li><a href="">服務信箱</a></li>
    </ul>
  </footer>
</div>