.trade {
  margin: auto;
}

.trade > div {
  margin-bottom: 20px;
  font-size: 20px;
}

.trade > div > span {
  margin-right: 10px;
}

.creat-trade-page > input {
  font-size: 20px;
  padding: 5px 10px;
}

.creat-trade-page {
  margin-bottom: 15px;
  position: relative;
  display: flex;
}

.creat-trade-page > div {
  margin: auto 10px;
}

.creat-trade-page > div > i {
  font-size: 30px;
}

.total {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 20px;
}

.total-price {
  background-color: transparent;
  border: none;
  font-size: 24px;
}

.creat-trade-page > input:nth-child(2) {
  width: 70px;
  margin-left: 10px;
}

.trade-content .trade table tr th:nth-child(1),
.trade-content .trade table tr td:nth-child(1) {
  width: 90px;
}

.trade-content .trade table tr th:nth-child(2),
.trade-content .trade table tr td:nth-child(2) {
  width: 200px;
}
.trade-content .trade table tr th:nth-child(3),
.trade-content .trade table tr td:nth-child(3) {
  width: 65px;
}
.trade-content .trade table tr th:nth-child(4),
.trade-content .trade table tr td:nth-child(4) {
  width: 95px;
}
.trade-content .trade table tr th:nth-child(5),
.trade-content .trade table tr td:nth-child(5) {
  width: 50px;
}

.trade-content .trade table tr td input,
.trade-content .trade table tr td span {
  width: -webkit-fill-available;
  background-color: transparent;
  border: none;
  text-align: center;
}

.table-head {
  height: 300px;
  overflow: scroll;
  background-color: #fff;
  border: 1px solid #ddd;
}

.cancel {
  position: relative;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}

.cancel:after {
  content: '';
  background: var(--brownColor);
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.cancel:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.trade-product-count > input {
  width: 35px !important;
  font-size: 16px;
}

.form-wrapper {
  display: flex;
}

.form-wrapper > .phoneNr {
  font-size: 18px;
  margin: 0px 10px;
  background: none;
  border: none;
  border-bottom: 1px solid;
}

.find-customer-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  width: 33px;
  padding: 6px 0px;
  height: 33px;
}
