body {
  background-color: var(--bgColor1);
}

.home-page {
  display: flex;
  position: relative;
}

.home-page .sidebar {
  width: 200px;
  height: 100%;
  background-color: var(--bgColor2);
  box-shadow: 6px 0 20px 0px black;
  z-index: 10;
  position: fixed;
}

.home-page .sidebar li:nth-child(1) {
  height: 75px;
}

.home-page .sidebar li {
  border-bottom: 3px solid var(--bgColor1);
  display: flex;
  justify-content: center;
}

.home-page .sidebar li a {
  color: var(--bgColor1);
  font-size: 24px;
  display: flex;
  height: 75px;
  align-items: center;
}

.home-page .sidebar li a i {
  margin-right: 10px;
}

.home-page .main-content {
  margin-left: 200px;
  width: 100%;
}

.search-field {
  margin: 20px auto;
  width: 500px;
  border-bottom: 2px solid #fff;
}

.search-field > form {
  margin-bottom: 30px;
}

.nr_input {
  display: flex;
  justify-content: center;
}

.nr_input input {
  width: 300px;
  border: none;
  font-size: 30px;
  letter-spacing: 2px;
}

.add-customer {
  background-color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  position: relative;
}

.add-customer > button {
  font-size: 20px;
  position: absolute;
  background-color: var(--bgColor2);
  color: var(--bgColor1);
  right: 0;
  top: -1px;
  padding: 5px 10px;
}

.home-page .main-content .navbar {
  position: relative;
  background-color: #fff;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 20px 70px 1fr 250px 1fr 70px 20px;
  grid-template-rows: 75px;
  grid-template-areas: '. icon . logo . option .';
}

.home-page .main-content .navbar div:nth-child(1) {
  grid-area: icon;
  font-size: 40px;
  color: var(--bgColor1);
  text-align: center;
  cursor: pointer;
}

.home-page .main-content .navbar div:nth-child(2) {
  grid-area: logo;
}
.home-page .main-content .navbar div:nth-child(3) {
  grid-area: option;
  font-size: 40px;
  color: var(--bgColor1);
  text-align: center;
  cursor: pointer;
}

.directly {
  text-align: center;
  margin-top: 40px;
}

/****All customers page****/

.main-content .results {
  width: 500px;
  margin: 20px auto;
}

.main-content .results form {
  display: flex;
  padding-bottom: 15px;
}

.main-content .results form input {
  padding: 6px;
  font-size: 18px;
  width: 250px;
}

.main-content .results form button {
  margin-left: 20px;
  font-size: 14px;
  padding: 0px 15px;
  background-color: #af887c;
  color: #fff;
  border: 1px solid var(--bgColor1);
}

.main-content .results table {
  background-color: #fff;
  border-collapse: collapse;
  width: inherit;
}

.main-content .results table th,
.main-content .results table td {
  border: 1px solid #ddd;
  text-align: center;
}

.main-content .results table tr:nth-child(even) {
  background-color: #e3e8fb;
}

.main-content .results table tr:nth-child(1) th,
.main-content .results table td {
  padding: 15px 8px;
}

/***** navbar option ****/

.option {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  display: none;
  position: absolute;
  right: 20px;
  padding: 10px;
  top: 66px;
}

.option > a,
.option > form > button {
  cursor: pointer;
  border: none;
  color: #1d2129;
  -webkit-font-smoothing: antialiased;
  padding: 5px 10px;
  display: block;
  font-size: 16px;
}
