.search-field {
  margin: 20px auto;
}

.search-field > form {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.search-field > form > button {
  background-color: #fff;
  margin-left: 10px;
  font-size: 24px;
  padding: 0px 20px;
  border: 3px solid var(--bgColor2);
  color: var(--bgColor2);
  background-color: var(--bgColor1);
}

.nr_input {
  display: flex;
  justify-content: center;
}

.nr_input input {
  width: 300px;
  border: none;
  font-size: 30px;
  letter-spacing: 2px;
}

.add-customer {
  background-color: #fff;
  padding: 5px 10px;
  font-size: 20px;
  position: relative;
}

.add-customer > button {
  font-size: 20px;
  position: absolute;
  background-color: var(--bgColor2);
  color: var(--bgColor1);
  right: 0;
  top: -1px;
  padding: 5px 10px;
}

.directly {
  text-align: center;
  margin-top: 40px;
}

/****All customers page****/

.search-all-customers {
  margin: 20px auto;
}

.search-all-customers {
  display: flex;
}

.search-all-customers input {
  padding: 6px;
  font-size: 18px;
  width: 250px;
}

.search-all-customers button {
  margin-left: 20px;
  font-size: 14px;
  padding: 0px 15px;
  background-color: var(--brownColor);
  color: #fff;
  border: 1px solid var(--bgColor1);
}

.suggestions {
  width: 293px;
  margin: 0 !important;
  max-height: 200px;
  position: absolute;
  top: 37px;
  overflow: scroll;
  background: #fff;
  border: solid 1px var(--color4);
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.product-name {
  font-size: 14px;
  color: #5c5c5c;
  font-style: italic;
}

.suggestions > li {
  padding: 5px 0px;
  border-top: 1px solid #ddd;
  font-size: 18px;
  margin: 0px 10px;
}

.suggestions > li:nth-child(1) {
  border: none;
}
.suggestions > li:hover {
  background-color: #fafafa;
}

.match {
  font-weight: bold;
}
