.manage-action {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.manage-action > li {
  padding: 10px;
  background-color: var(--bgColor2);
  color: var(--bgColor1);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 15px;
}

#upload_file {
  display: none;
}

#upload-form > label {
  padding: 5px;
  border-right: 1px solid;
}

#upload-form > button {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 14px;
  margin-left: 5px;
}
