.manage-action {
  display: flex;
  margin-bottom: 10px;
  position: relative;
}

.manage-action > li {
  padding: 8px;
  background-color: var(--bgColor2);
  color: var(--bgColor1);
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  margin-right: 15px;
}

#upload_file {
  display: none;
}

#upload-form > label {
  padding: 5px;
  border-right: 1px solid;
}

#upload-form > button {
  background: transparent;
  border: none;
  color: inherit;
  font-size: 14px;
  margin-left: 5px;
}

.manage-action > li > a {
  color: var(--bgColor1);
}

.manage-action > li {
  border: 1px solid var(--bgColor1);
}

.manage-action > li:hover {
  background-color: #2b3472;
}

.drag-drop-feature > span {
  color: red;
  padding-left: 5px;
  font-weight: bold;
  font-size: 12px;
}
