.loginn-page {
  background-color: var(--bgColor2);
}
.login-page header {
  padding: 10px 40px;
}

.login-page header h1 {
  color: var(--bgColor1);
  font-size: 70px;
  font-family: var(--logoFont);
}

.login-page main {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.login-page .form-item {
  margin-bottom: 80px;
  position: relative;
}

.login-page .form-item input {
  font-size: 40px;
  padding: 15px;
  letter-spacing: 5px;
}

.forget {
  position: absolute;
  right: 0;
  color: #fff;
  font-size: 20px;
  padding: 10px 0px;
  text-decoration: underline;
}

.line {
  width: inherit;
  height: 1px;
  border: 2px solid #fff;
  margin: 60px 0px;
}
