.single-customer {
  text-align: center;
}

.single-customer-detail {
  border:0.5px solid white;
  padding:20px 30px;
  font-size: 30px;
  margin:0 auto;
  width: 50%;
  text-align: left
}

.single-customer-img {
  text-align: center;
}

.single-customer-bar {
  margin: 0 auto;
  border-top:0px;
  display: flex;
  width: 50%;
  justify-content:space-around;
}

.single-customer-link {
  font-size: 24px;
  width: 33%;
  border:0.5px solid white;
  display: inline-block;
}