.single-customer {
  text-align: center;
  margin-top: 30px;
}

.single-customer-detail {
  font-size: 20px;
  margin: 0 auto;
  width: 500px;
  text-align: left;
  background-color: #fff;
}

.single-customer-detail > ul {
  padding: 10px 20px;
}

.single-customer-bar {
  margin: 0 auto;
  border-top: 0px;
  display: grid;
  grid-template-columns: 200px 150px 150px;
  grid-template-rows: 40px;
}

.single-customer-bar > div {
  font-size: 20px;
  background-color: #f18c7c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-customer-bar > div > a {
  color: #fff;
}

/** edit **/
.single-customer-button {
  margin: 0;
  padding: 0;
  border: 1px solid transparent;
  outline: none;
  background-color: transparent;
  font-size: 24px;
  color: var(--linkColor);
  cursor: pointer;
}

.edit-customer-input {
  font-size: 24px;
}
