<div class="pad-mode">
  <div class="side-bar">
    <div class="side-title">
      Hey there
    </div>
    <ul class="side-list">
      <li class="side-list-button">
        <a href="">客戶管理</a>
      </li>
      <li class="side-list-button">
        <a href="">商品管理</a>
      </li>
      <li class="side-list-button">
        <a href="">行銷管理</a>
      </li>
      <li class="side-list-button">
        <a href="">人事管理</a>
      </li>
      <li class="side-list-button">
        <a href="">回到前台</a>
      </li>
    </ul>
  </div>

  <div class="main-section">
    <div class="main-title">
      客戶管理
    </div>
    <div class="advance-content">
      <div class="advance-content-show">
        <table class="admin-table">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Note</th>
            <th scope="col"></th>
          </tr>
          <tr>
            <td>
              ChenChen
            </td>
            <td>
              09XX-XXX-XXX
            </td>
            <td>
              123333
            </td>
            <td>
              <span data-info="open">詳細資料</span>
            </td>
          </tr>
        </table>
        <div class="admin-customer-info">
          <div class="customer-avatar-block">
            <img src="https://picsum.photos/200/200" alt="" class="customer-avatar">
          </div>
          <div class="customer-detail-info">
            <ul>
              <li>Name : </li>
              <li>Gender : </li>
              <li>Age : </li>
              <li>Phone : </li>
              <li>E-mail : </li>
              <li>Address : </li>
            </ul>
          </div>
          <div>
            Note : 12333456546456
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="/javascripts/admin-table-open.js"></script>