<div class="pad-mode">
  <div class="side-bar">
    <div class="side-title">
      Hey there
    </div>
    <ul class="side-list">
      <li class="side-list-button">
        <a href="">客戶管理</a>
      </li>
      <li class="side-list-button">
        <a href="">商品管理</a>
      </li>
      <li class="side-list-button">
        <a href="">行銷管理</a>
      </li>
      <li class="side-list-button">
        <a href="">人事管理</a>
      </li>
      <li class="side-list-button">
        <a href="">回到前台</a>
      </li>
    </ul>
  </div>

  <div class="main-section">
    <div class="main-title">
      商品管理
    </div>
    <div class="advance-content">
      <div class="advance-content-show">
        <table class="admin-table-product">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Product</th>
            <th scope="col">Price</th>
            <th scope="col">Type</th>
            <th scope="col">詳細資料</th>
            <th scope="col"></th>
          </tr>
          <tr>
            <td>
              9487
            </td>
            <td>
              很厲害的東西
            </td>
            <td>
              2000 元
            </td>
            <td>
              食物
            </td>
            <td>
              <span data-info="open">詳細資料</span>
            </td>
            <td><i class="fas fa-trash-alt"></i></td>

          </tr>
        </table>
        <div class="admin-product-info">
          <div class="product-avatar-block">
            <img src="https://picsum.photos/200/200" alt="" class="product-avatar">
          </div>
          <div class="product-detail-info">
            <ul>
              <li>ID : </li>
              <li>Product : </li>
              <li>Price : </li>
              <li>Cost : </li>
              <li>Type : </li>
              <li>Manufacturer : </li>
            </ul>
          </div>
          <div class="product-control-bar">

            <button type="submit" class="product-edit">編輯</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/javascripts/admin-table-open.js"></script>