<div class="pad-mode">
  <div class="side-bar">
    <div class="side-title">
      Hey there
    </div>
    <ul class="side-list">
      <li class="side-list-button">
        <a href="">客戶管理</a>
      </li>
      <li class="side-list-button">
        <a href="">商品管理</a>
      </li>
      <li class="side-list-button">
        <a href="">行銷管理</a>
      </li>
      <li class="side-list-button">
        <a href="">人事管理</a>
      </li>
      <li class="side-list-button">
        <a href="">回到前台</a>
      </li>
    </ul>
  </div>

  <div class="main-section">
    <div class="main-title">
      人事管理
    </div>
    <div class="main-content">
      <div class="main-content-show">
        <table class="admin-table">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Sales Avatar</th>
            <th scope="col">Sales Name</th>
            <th scope="col">Role</th>
          </tr>
          <tr>
            <td>
              1
            </td>
            <td>
              <img src="https://picsum.photos/200/200" alt="" class="sales-avatar">
            </td>
            <td>
              Walle
            </td>
            <td>
              <select>
                <option value="manager">Store Manager</option>
                <option value="sales">Sales</option>
              </select>
            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</div>